<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
    <table >
      <tr>
        <td> Rut: </td>
        <td> <input type="text" formControlName="rut"> </td>
        <td> - <input type="text" formControlName="dv"> </td>
      </tr>
      <tr>
        <td> Nombre: </td>
        <td> <input type="text" formControlName="nombre"> </td>
      </tr>
      <tr>
        <td> Apellido: </td>
        <td> <input type="text" formControlName="apellido"> </td>
      </tr>
      <tr>
        <td> Tipo de cuenta: </td>
        <td> 
          <div *ngFor="let cta of checkTipo; let i=index">
            <label>
              <input type="checkbox" [value]="cta.id" (change)="onCheckboxChange($event)" />
              {{ cta.name }}
              <input type="number" [id]="cta.id" formArrayName="montoInicial" (change)="changeMonto($event)">
            </label>
          </div>
        </td>
      </tr>
      <tr>
        <tr>
          <p class="error" *ngIf="this.profileForm.controls['checkTipo'].errors?.required">
            Seleccione al menos una cuenta por favor.
          </p>
          <p class="error" *ngIf="this.profileForm.invalid">
            Recuerde verificar lo siguiente: <br>
            1.- El rut ingresado es correcto. <br>
            2.- Seleccionó al menos una cuenta con su respectivo monto inicial. <br>
            3.- Los campos fueron llenados correctamente. <br>
          </p>
          <button type="submit">Submit</button>
        </tr>
    </table>
  </form>