<form [formGroup]="profileForm">
    <table >
      <tr>
        <td> Rut: </td>
        <td> <input type="text" formControlName="rut" required> </td>
        <td> - <input type="text" formControlName="dv"> </td>
      </tr>
      <tr>
        <td> Nombre: </td>
        <td> <input type="text" formControlName="nombre" required> </td>
      </tr>
      <tr>
        <td> Apellido: </td>
        <td> <input type="text" formControlName="apellido" required> </td>
      </tr>
      <tr>
        <td> Tipo de cuenta: </td>
        <td *ngFor="let i of checkTipo" formGroupName="cuentaForm"> 
          <input name="Cta" type="checkbox" value="${i.idCta}"> {{ i.nombreCuenta }}
          <input type="number" formControlName="montoInicial">
        </td>
      </tr>
      <tr>
        <tr>
          <button type="submit" (click)="createTask()">Submit</button>
        </tr>
    </table>
  </form>