
    <form [formGroup]="cuentasForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="rut" required>
        <br>
        <button type="submit" (click)="getTask()">Obtener cuentas</button>
    </form>
    <br>
    <br>

        <table class="egt">
            <tr>
              <td> Número de cuenta </td>
              <td> Tipo de cuenta </td>
              <td> Monto </td>
            </tr>
            <tr *ngFor="let i of Cta">
              <td> {{ i.numeroCuenta }} </td>
              <td> {{ i.tipo }} </td>
              <td> {{ i.montoCuenta }} </td>
            </tr>
          </table>

